In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = [['A',1,2,3,4,5],['B',6,7,8,9,10],['C',11,12,13,14,15]]

df = pd.DataFrame(data)
df.head()

   0   1   2   3   4   5
0  A   1   2   3   4   5
1  B   6   7   8   9  10
2  C  11  12  13  14  15

In [19]:
dict = {0:'Tipo',1:'CA1',2:'CA2',3:'CA3',4:'CA4',5:'CA5'}

df.rename(columns = dict, inplace = True)
df.head()

  Tipo  CA1  CA2  CA3  CA4  CA5
0    A    1    2    3    4    5
1    B    6    7    8    9   10
2    C   11   12   13   14   15

In [22]:
df.iloc[1:2]

  Tipo  CA1  CA2  CA3  CA4  CA5
1    B    6    7    8    9   10

In [25]:
df.iloc[0,2] + df.iloc[2,4]

16

In [30]:
len(df)

3

In [41]:
for i in range(df.shape[0]):
    print(df.iloc[i])

Tipo    A
CA1     1
CA2     2
CA3     3
CA4     4
CA5     5
Name: 0, dtype: object
Tipo     B
CA1      6
CA2      7
CA3      8
CA4      9
CA5     10
Name: 1, dtype: object
Tipo     C
CA1     11
CA2     12
CA3     13
CA4     14
CA5     15
Name: 2, dtype: object

In [42]:
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        
        if type(df.iloc[i,j]) == str:
            print(df.iloc[i,j])
        
        elif df.iloc[i,j] % 2 == 0:
            print(df.iloc[i,j] ** 2)
        
        else:
            print(df.iloc[i,j])

A
1
4
3
16
5
B
36
7
64
9
100
C
11
144
13
196
15